In [28]:
from pathlib import Path
import pandas as pd
data_folder = Path("Datasets/Coffee_Chain_Sales .csv/")
df = pd.read_csv(data_folder)

In [29]:
df.head()

   Area Code  Cogs  DifferenceBetweenActualandTargetProfit  ... Target_sales   Total_expenses     Type
0        303    51                                     -35  ...            90              76    Decaf
1        970    52                                     -24  ...            90              45    Decaf
2        409    43                                     -22  ...            90              36    Decaf
3        850    38                                     -15  ...           100              21  Regular
4        562    72                                       6  ...            80              54  Regular

[5 rows x 21 columns]

In [30]:
df.describe()

         Area Code         Cogs  DifferenceBetweenActualandTargetProfit  ...  Target_profit  Target_sales   Total_expenses
count  1062.000000  1062.000000                             1062.000000  ...    1062.000000    1062.000000     1062.000000
mean    587.030132    82.399247                                0.387006  ...      60.169492     168.493409       53.836158
std     225.299162    64.824295                               44.331180  ...      77.824869     145.955171       31.703526
min     203.000000     0.000000                             -369.000000  ...    -320.000000       0.000000       11.000000
25%     425.000000    41.000000                              -15.000000  ...      20.000000      80.000000       33.000000
50%     573.000000    57.000000                               -3.000000  ...      40.000000     120.000000       46.000000
75%     774.000000   101.000000                               13.000000  ...      80.000000     210.000000       66.000000
max     985.000000   294.000000                              249.000000  ...     470.000000     960.000000      156.000000

[8 rows x 13 columns]

In [31]:
df.value_counts()

Area Code  Cogs  DifferenceBetweenActualandTargetProfit  Date        Inventory Margin  Margin  Market_size   Market   Marketing  Product_line  Product_type  Product      Profit  Sales  State        Target_cogs  Target_margin  Target_profit  Target_sales   Total_expenses  Type
203        24    -13                                     7/27/2013   806               36      Small Market  East     6          Leaves        Tea           Green Tea    27      64     Connecticut  20           40             40             60             18              Regular    1
713        52    -44                                     2/13/2014   405               71      Major Market  South    17         Leaves        Herbal Tea    Chamomile    26      123    Texas        30           80             70             110            45              Decaf      1
708        67     30                                     4/10/2014   677               101     Major Market  Central  22         Leaves        Tea           Earl Grey    70      179    Illinois     50           80             40             130            54              Regular    1
           81     45                                     1/22/2015   984               117     Major Market  Central  22         Leaves        Herbal Tea    Mint         125     211    Illinois     70           110            80             180            33              Decaf      1
           118    78                                     1/21/2015   930               172     Major Market  Central  33         Leaves        Herbal Tea    Chamomile    188     309    Illinois     110          150            110            260            45              Decaf      1
                                                                                                                                                                                                                                                                                          ..
503        54    -28                                     10/15/2012  404               66      Small Market  West     20         Beans         Espresso      Caffe Latte  12      120    Oregon       40           60             40             100            54              Regular    1
                 -12                                     10/9/2013   424               73      Small Market  West     17         Beans         Espresso      Caffe Mocha  28      127    Oregon       50           70             40             120            45              Regular    1
                  2                                      11/20/2013  424               73      Small Market  West     17         Beans         Espresso      Caffe Mocha  42      135    Oregon       50           70             40             120            45              Regular    1
           55    -6                                      11/5/2013   410               69      Small Market  West     20         Beans         Espresso      Caffe Latte  24      132    Oregon       50           70             30             120            53              Regular    1
985        101    46                                     6/8/2014    552               130     Small Market  South    33         Leaves        Herbal Tea    Chamomile    126     246    Louisiana    90           120            80             210            45              Decaf      1
Length: 1062, dtype: int64

In [49]:
h = df['Product']

In [63]:
k = []
for i in h:
#     print(i)
    if 'Lemon' in i:
        k.append(i)

In [64]:
k

['Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon',
 'Lemon']